/* ====================== 기본 리셋 ====================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ====================== 전체 배경 스타일 ====================== */
body {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 210mm;
    min-height: 148mm;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    transition: background-color 0.5s;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.main-wrapper {
    width: 210mm;
    height: 148mm;
    padding: 8mm;
    background: var(--bg-color);
    position: relative;
}
